<?xml version="1.0"?>
<robot name="combined_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include the arm description -->
  <xacro:include filename="$(find 0525_arm_description)/urdf/0525_arm.urdf" />

  <!-- Include the field description -->
  <xacro:include filename="$(find field_description)/urdf/field.urdf" />

  <!-- Add a joint to connect the two models -->
  <joint name="world_to_field" type="fixed">
    <parent link="world"/>
    <child link="field_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
