<?xml version="1.0" ?>
<robot name="field" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find field_description_test)/urdf/materials.xacro" />
<xacro:include filename="$(find field_description_test)/urdf/field.trans" />
<link name="base_link">
  <inertial>
    <origin xyz="-2.4003230033196173e-05 -0.518185900676988 -0.6451179011921819" rpy="0 0 0"/>
    <mass value="918.9161572669451"/>
    <inertia ixx="464.329281" iyy="1535.218579" izz="1878.563256" ixy="1.187437" iyz="10.513094" ixz="0.00323"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://field_description_test/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://field_description_test/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
