<?xml version="1.0" ?>
<robot name="field" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find field_description)/urdf/materials.xacro" />
<xacro:include filename="$(find field_description)/urdf/field.trans" />
<link name="base_link">
  <inertial>
    <origin xyz="0.5758712378390353 -0.6294068743164165 -0.28661562726239675" rpy="0 0 0"/>
    <mass value="57.89679837520586"/>
    <inertia ixx="9.405045" iyy="11.339482" izz="20.581226" ixy="5.177473" iyz="0.357214" ixz="-0.336595"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://field_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="opaque202209238"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://field_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
